* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.detail_page {
  background-color: black;
  color: #fff;
}
.container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  padding: 20px;
}
.container > img {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
}
.container > h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.style {
  font-style: italic;
}

.genre {
  padding-right: 15px;
}
