.movie_box {
  background: #faf9f9;
  width: 40%;
  padding: 20px;
  margin: 40px;
  box-shadow: 20px 15px 5px #ccc;
}
.movie_title {
  display: flex;
  flex-wrap: wrap;
}
.movie_img {
  position: relative;
  top: -60px;
  width: 40%;
}
.movie_info {
  width: 50%;
  height: 200px;
  position: relative;
  left: 30px;
}
.movie_info > h2 {
  text-decoration: none;
  list-style: none;
}
.movie_info > h2 > a {
  color: #333;
}
.genres {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-style: italic;
}
.genres_list {
  padding-right: 12px;
}
.summary {
  position: relative;
  top: -30px;
}
